<footer class="page-footer teal darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTIC</h5>
          <p class="grey-text text-lighten-4">Equipo 9 - Grupo 25</p>
          <li><a class="grey-text text-lighten-3" href="https://github.com/AndresTs2/apiloopbackMisionTIC">API LoopBack</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/AndresTs2/apinotificaciones">API Notificaciones</a></li>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros de equipo</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/aleja2707">Alejandra Ocampo Duque</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Myke216">Elvis Miguel Mosquera Ruiz</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/AndresTs2">Hector Andres Bojorge Chavez</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/jnaveros40">Juan Guillermo Naveros Jimenez</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/lamd0806">Luz Andrea Martinez Diaz</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>